$black-color: #242424;
$purple-color: #5b5fc7;

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.eot") format("eot"),
    url("../fonts/SF-Pro-Display-Regular.ttf") format("ttf"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.eot") format("eot"),
    url("../fonts/SF-Pro-Display-Semibold.ttf") format("ttf"),
    url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "SF Pro Display";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px 0;
  > div {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 32px;
    &:nth-child(1) {
      justify-content: start;
    }
    &:nth-child(2) {
      justify-content: end;
    }
  }
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &-username {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 1.625rem;
    font-weight: 700;
    color: $black-color;
    padding-bottom: 1px;
    text-transform: capitalize;
  }
  &-bot {
    margin-top: 3px;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 5px;
  > .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    &.active {
      border-color: $purple-color;
      font-weight: 600;
    }
  }
}
